<div>
	<snap-drawer>
		<div class="snap-menu">
			<div class="sidebar-header text-center">
				<img src="images/flat-avatar.png" alt="" class="sidebar-img img-circle">
			</div>
			<ul class="snap-ul">
				<li ng-class="{active: $state.includes('overview')}"><a ui-sref="overview">HOME</a></li>
				<li ng-class="{active: $state.includes('transaction')}"><a ui-sref="transaction">TRANSACTION</a></li>
				<li ng-class="{active: $state.includes('process')}"><a ui-sref="process">PROCESS INPUT</a></li>
				<li ng-class="{active: $state.includes('reports')}"><a ui-sref="reports">REPORTS</a></li>
				<li><a ui-sref="login">LOGOUT</a></li>
			</ul>
		</div>
	</snap-drawer>
	<snap-dragger></snap-dragger>
	<snap-content snap-opt-tap-to-close="false" class="">
		<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>
		
		<div class="fr">
		<h2>Reports <small>Consult Latest Transactions</small></h2>
		</div>
		<span class="glyphicon glyphicon-dashboard bg-fade"></span>
		<div class="jumbotron">
			<div class="container">
				<h3>Input</h3>
				<p>id: 448373726262525254253</p>
				<p>Client PK: 34222637225254253</p>
				<p>Amount: 2637.0000</p>
			</div>
		</div>
	</snap-content>	
</div>